:root {
  --primary: white;
  --secondary: rgb(228, 179, 19);
  --background: black;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--background);
  color: var(--primary);
  overflow-y: auto;
  align-content: start;
  align-items: start;
  justify-content: start;
  letter-spacing: 0.04rem;
  line-height: 170%;
}

main {
  width: 100%;
  margin: 0 auto;
  height: auto;
}

hr {
  color: inherit;
  border-color: inherit;
  width: 100%;
  border-width: 2px;
}

p,
pre,
code {
  line-height: 1.5;
}

a[href],
a[href]:visited {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

a[href]:hover {
  color: rgba(0, 0, 0, 0.5);
}

img {
  max-width: 100%;
  height: auto;
}

h2,
h3,
h4 {
  font-weight: normal;
}

.xxl-text {
  font-size: 1.7rem;
}

.xl-text {
  font-size: 1.5rem;
}

.lg-text {
  font-size: 1.1rem;
}

.sm-text {
  font-size: 0.8rem;
}

.text {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

pre {
  font-size: 14px;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  tab-size: 2;
  padding: 1em;
  margin: 0.5em 0;
}

nav ul {
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 0 0.25em;
}

nav li a {
  padding: 0.25em 0.5em;
  font-weight: bold;
  text-transform: uppercase;
}

nav li a[data-current="current item"] {
  background-color: white;
}

/* Posts List */
article {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid var(--secondary);
}

main > section > article > * {
  margin: 0.5em 0;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.625em;
  padding: 0 0.5em;
  line-height: 2em;
  height: 2em;
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 0.25em;
  text-decoration: none;
  margin: 0 0.5em 0.5em 0;
}

a[rel="tag"]:hover {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--secondary);
}

/* Contact Form */
form {
  display: grid;
  padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  font-size: 1rem;
  border: 1px solid black;
}

button {
  font-size: inherit;
  font-family: inherit;
  border: 1px solid black;
  box-shadow: 0 0.5px 5px #000;
  background: var(--background);
  color: var(--primary);
  cursor: pointer;
  padding: 0.8rem 1.2rem;
  border-radius: 100rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

button.alt {
  background-color: var(--primary);
  color: var(--background);
  border: 2px solid var(--primary);
}

button.alt:hover {
  background-color: var(--background);
  color: var(--primary);
  border-color: var(--primary);
}

button:hover {
  background: var(--primary);
  color: var(--background);
}

/* HEADER & MENU 
------------------------------------*/

header {
  position: sticky;
  display: flex;
  top: 0;
  width: 100%;
  z-index: 100;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 0;
}

header .container {
  display: flex;
  background: white;
  box-shadow: #fff 0 1px 10px;
  color: black !important;
  width: 90%;
  margin: 0 auto;
  border-radius: 50rem;
  padding: 0.6rem 1.25rem;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  text-transform: uppercase;
  animation: flicker 2s linear infinite;
}

@keyframes flicker {
  0% { box-shadow: #fff 0 1px 10px; }
  10% { box-shadow: #fff 1px 2px 5px; }
  30% { box-shadow: #fff 0 1px 8px; }
  50% { box-shadow: #fff 1px 1px 13px; }
  60% { box-shadow: #fff 2px 1px 8px; }
  80% { box-shadow: #fff 0 1px 12px; }
  90% { box-shadow: #fff 1px 1px 6px; }
  100% { box-shadow: #fff 0 1px 10px; }
}

header .logo {
  display: flex;
  justify-content: center;
  width: 36vw;
  max-width: 150px;
}

header .logo img {
  display: block;
  margin: 0 auto;
}

header .menu,
header .cta {
  display: none;
}

header .menu-toggle span {
  display: block;
  font-size: 2.4rem;
  color: black;
  cursor: pointer;
}

span.active {
  transform: rotate(-0.25turn);
}

.mobile-menu {
  position: fixed;
  display: none;
  flex-direction: column;
  padding: 3rem;
  width: 90%;
  top: 4.25rem;
  left: 50%;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 5px #fff;
  -ms-backdrop-filter: none;
  -webkit-backdrop-filter: invert(100%) blur(6px);
  backdrop-filter: invert(100%) blur(6px);
  color: black !important;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: bold;
  gap: 2rem;
  border-radius: 2rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%) translateY(-100%);
}

.mobile-menu.active {
  display: flex;
  transform: translateX(-50%) translateY(0);
  opacity: 1;
}

.mobile-menu .menu {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  gap: 2.5rem;
  margin-bottom: 0;
}

.mobile-menu .cta {
  font-size: 1.2rem;
}

/* SECTIONS
------------------------------------*/

section {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 5% 1.5rem;
  justify-content: center;
  align-items: start;
  overflow-x: hidden;
  text-align: left;
  border-color: white;
  width: 100%;
  height: auto;
  border-bottom: 2px solid white;
  text-align: center;
}

section .container {
  margin: 0 auto;
  width: 100%;
  max-width: 990px;
}

section.alt {
  background: var(--primary);
  color: var(--background);
  border-color: blacks;
}

.hero {
  border-bottom: 1px solid white;
  height: 10rem;
  overflow: hidden;
}

.hero video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
  z-index: -100;
  object-fit: cover;
}

.hero .artwork {
  position: absolute;
  display: block;
  width: 100vw;
  height: 100%;
  z-index: -10;
  left: 0;
  top: 0;
}

.hero .artwork .top-blob {
  position: absolute;
  display: block;
  right: -2rem;
  top: -3rem;
  width: 30%;
  max-width: 220px;
}

.hero .artwork .bottom-blob {
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 30%;
  max-width: 220px;
}

.hero .artwork .top-crop {
  position: absolute;
  display: block;
  left: 10px;
  top: 10px;
  width: 10%;
  max-width: 40px;
}

.hero .artwork .bottom-crop {
  position: absolute;
  display: block;
  right: 10px;
  bottom: 10px;
  width: 10%;
  max-width: 40px;
}

.hero .logo {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.about {
  text-align: center;
}

.about img#room {
  border: 2px solid white;
  border-radius: 10px;
}

.days .container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  place-content: center;
  place-items: center;
  text-align: center;
}

.days .container .times {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.days .container .day {
  display: block;
}

.days .container .day button {
  font-size: 0.7rem;
}

.days .container img {
  width: 100%;
  max-width: 500px;
}

.locations .container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  gap: 1rem;
}

.locations .location {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  background: var(--primary);
  color: var(--background);
}

.locations .location .text {
  position: relative;
  width: 100%;
  padding: 0.5rem 1.5rem;
}

.locations .location .image {
  position: relative;
  width: 100%;
  height: 12rem;
  background-size: cover;
  background-position: center;
}

.partners .container div {
  display: grid;
  place-content: center;
  place-items: center;
}

.partners .large-logos {
  display: grid;
  grid-template: auto / repeat(3, 1fr);
  gap: 3rem;
  margin-bottom: 3rem;
}

.partners .small-logos {
  display: grid;
  grid-template: auto / repeat(4, 1fr);
  gap: 3rem;
}

.partners a {
  filter: saturate(0);
  opacity: 0.9;
}

.partners a:hover {
  filter: saturate(1);
  opacity: 1;
}

.partners .large-logos img {
  width: 100%;
  max-width: 180px;
}

.partners .small-logos img {
  width: 100%;
  max-width: 120px;
}

.socials .container {
  display: flex;
  gap: 2rem;
  place-content: center;
  place-items: center;
}

footer {
  display: flex;
  width: 100%;
  text-align: center;
  place-content: center;
  place-items: center;
  padding: 1rem;
}

/* TABLET STYLING
____________________________________*/

@media screen and (min-width: 768px) {
  header .container {
    flex-direction: row;
    padding: 0.8rem 1.5rem;
  }

  .hero {
    height: 50vw;
  }
}

/* DESKTOP STYLING
____________________________________*/

@media screen and (min-width: 990px) {
  :root {
    font-size: 1.1rem;
  }

  header .container {
    flex-direction: row;
    padding: 0.4rem 1.5rem;
  }

  header .menu {
    display: block;
  }

  header .cta {
    display: block;
  }

  header .menu-toggle {
    display: none;
  }

  .hero {
    padding: 15rem 1rem;
    text-align: center;
  }

  .days .container a {
    width: 50%;
  }

  .hero .artwork .top-blob {
    position: absolute;
    display: block;
    right: -3rem;
    top: -5rem;
    width: 20%;
    max-width: 220px;
  }

  .locations .location {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    background: var(--primary);
    color: var(--background);
  }

  .locations .location .text {
    position: relative;
    width: 60%;
    padding: 1rem 2rem;
  }

  .locations .location .image {
    position: relative;
    width: 40%;
    height: 12rem;
    background-size: cover;
    background-position: center;
  }
}
