:root {
  --primary: white;
  --secondary: rgb(228, 179, 19);
  --background: black;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: black;
  color: var(--primary);
  overflow-y: auto;
  align-content: start;
  align-items: start;
  justify-items: start;
  justify-content: start;
  letter-spacing: 0.04rem;
}

main {
  position: relative;
  margin: 0 auto 0 auto;
  padding-bottom: 2rem;
  height: auto;
}

p,
pre,
code {
  line-height: 1.5;
}

a[href],
a[href]:visited {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

a[href]:hover {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h3 {
  font-weight: normal;
}

h4:last-child {
  margin-bottom: 0;
}

.xxl-text {
  font-size: 2rem;
}

.xl-text {
  font-size: 1.4rem;
}

.lg-text {
  font-size: 1.1rem;
}

header,
main,
footer {
  padding: 1em;
}

main :first-child,
main > article :first-child {
  margin-top: 0;
}

pre {
  font-size: 14px;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: 0.5em 0;
}

header {
  position: sticky;
  display: flex;
  font-size: 0.9rem;
  top: 10px;
  width: 100%;
  margin: 0 auto;
  z-index: 100;
}

header .container {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: #fff 0.2px 0.2px 10px;
  -ms-backdrop-filter: none;
  -webkit-backdrop-filter: invert(100%) blur(6px);
  backdrop-filter: invert(100%) blur(6px);
  color: black !important;
  width: 90%;
  margin: 0 auto;
  border-radius: 50rem;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

header .logo {
  width: 40vw;
  max-width: 180px;
}

header .menu {
  display: none;
  font-weight: bold;
}

header .cta {
  margin-top: 0.5rem;
  display: none;
}

/* Header Nav */
nav ul {
  padding: 0;
  list-style: none;
}

nav ul :first-child {
  margin-left: 0;
}

nav li {
  display: inline-block;
  margin: 0 0.4em;
}

nav li a {
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  font-weight: bold;
  text-transform: uppercase;
}

nav li a[href]:not(:hover) {
  text-decoration: none;
}

nav li a[data-current="current item"] {
  background-color: white;
}

.bottom-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  bottom: 0;
  background: white;
  width: 100%;
  color: black;
  font-size: 0.9rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.bottom-menu .cta {
  background: black;
  color: white;
  width: 100%;
  padding: 1rem;
  transition: all 0.2s ease-in-out;
  border: 1px solid black;
}

.bottom-menu .cta:hover {
  background: white;
  color: black;
}

.bottom-menu .menu {
  background: white;
  color: black;
  width: 100%;
  padding: 0.5rem;
}

.top-blob {
  position: absolute;
  top: -5%;
  right: -5%;
  z-index: 0;
  width: 40%;
  max-width: 15rem;
}

.bottom-blob {
  position: absolute;
  bottom: 0%;
  left: 0%;
  z-index: 0;
  width: 40%;
  max-width: 15rem;
  display: none;
}

.crop-right {
  position: absolute;
  bottom: 1%;
  right: 1%;
  z-index: 0;
  width: 15%;
  max-width: 60px;
}

.crop-left {
  position: absolute;
  top: 1%;
  left: 1%;
  z-index: 0;
  width: 15%;
  max-width: 60px;
}

section {
  display: flex;
  flex-direction: column;
  padding: 10px;
  place-content: center;
  place-items: center;
  overflow-x: hidden;
}

section .container {
  width: 100%;
}

.homepage .logo {
  width: 200px;
  display: none;
}

.days .container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-transform: uppercase;
}

.days .container a {
  padding: 3rem;
  border: 2px solid white;
  border-radius: 20px;
  box-shadow: #fff 0px 1px 1rem;
  background: rgba(255, 255, 255, 0);
  color: white;
  width: 100%;
  transition: all 0.2s ease-in-out;
  background: rgba(0, 0, 0, 0.8);
}

.days .container a:hover {
  background: white;
  color: black;
}

/* Posts List */
article {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #eee;
  border-bottom: 1px solid var(--secondary);
}

main > section > article > * {
  margin-top: 0;
  margin-bottom: 0.5em;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.625em;
  padding: 0 0.5em;
  line-height: 2em;
  height: 2em;
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 0.25em;
  text-decoration: none;
  margin: 0 0.5em 0.5em 0;
}

a[rel="tag"]:hover {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--secondary);
}

a[rel="tag"]:last-child {
  margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
  padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  font-size: 1rem;
}

input,
textarea {
  border: 1px solid black;
}

button {
  font-size: inherit;
  font-family: inherit;
  border: 1px solid black;
  box-shadow: #000 0px 0.5px 5px;
  background: black;
  color: white;
  cursor: pointer;
  padding: 0.8rem 1.2rem;
  border-radius: 100rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background: white;
  color: black;
  border: 1px solid black;
}

@media screen and (min-width: 11s00px) {
  :root {
    font-size: 1.1rem;
  }

  header .container {
    flex-direction: row;
  }

  header .logo {
    display: block;
  }

  header .menu {
    display: block;
  }
}
