<section>
	{% for partner in partnerlist | reverse %}
		<div{% if partner.url == url %} data-current="current item"{% endif %}>
			<h3>
				{% if partner.data.title %}
					{{ partner.data.title }}
				{% else %}
					Untitled
				{% endif %}
			</h3>
			{% if partner.data.summary %}
				<p>
					{{ partner.data.summary }}
				</p>
			{% endif %}
			</div>
	{% endfor %}
</section>