<!DOCTYPE html>
<html {% if section %} data-current="{{ section }}" {% endif %} lang="en">
  {% include "components/head.njk" %}

  <body>
    <header>
      <div class="container">
        <div class="logo">
          <a href="{{ '/' | url }}"
            ><img src="/static/img/logo-black.png" alt="logo"
          /></a>
        </div>
        <div class="menu">
          <nav>
            <ul>
              <li>
                <a href="/day1/index.html">Day One</a>
              </li>
              <li>
                <a href="/day2/index.html">Day Two</a>
              </li>
              <li>
                <a href="/speakers/index.html">Speakers</a>
              </li>
              <li>
                <a href="/partners/index.html">Partners</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="cta">
          <a href="/getaccess/index.html"><button>Request Access</button></a>
        </div>
        <div class="menu-toggle">
          <a href="#">+</a>
        </div>
      </div>
    </header>

    <img class="top-blob" src="/static/img/blob1.svg" alt="Top Blob" />
    <img class="bottom-blob" src="/static/img/blob2.svg" alt="Bottom Blob" />
    <img class="crop-right" src="/static/img/crop-right.svg" alt="Crop Right" />
    <img class="crop-left" src="/static/img/crop-left.svg" alt="Crop Left" />

    <main>
      {{ layoutContent | safe }}
    </main>
  </body>
</html>
