<!DOCTYPE html>
<html {% if section %} data-current="{{ section }}" {% endif %} lang="en">
  {% include "components/head.njk" %}

  <body>
    <header>
      <div class="container">
        <div class="logo">
          <a href="{{ '/' | url }}">
            <img src="/static/img/logo-black.png" alt="logo" />
          </a>
        </div>
        <div class="menu">
          <nav>
            <ul>
              <li><a href="/day1/index.html">Day One</a></li>
              <li><a href="/day2/index.html">Day Two</a></li>
              <li><a href="/speakers/index.html">Speakers</a></li>
              <li><a href="/partners/index.html">Partners</a></li>
            </ul>
          </nav>
        </div>
        <div class="cta">
          <a href="/getaccess/index.html"><button>Request Access</button></a>
        </div>
        <div class="menu-toggle">
          <span id="menuToggle">+</span>
        </div>
      </div>
    </header>

    <div class="mobile-menu" id="mobileMenu">
      <div class="menu">
        <a href="/day1/index.html">Day One</a>
        <a href="/day2/index.html">Day Two</a>
        <a href="/speakers/index.html">Speakers</a>
        <a href="/partners/index.html">Partners</a>
      </div>
      <div class="cta">
        <a href="/getaccess/index.html"><button>Request Access</button></a>
      </div>
    </div>

    <main>
      {{ layoutContent | safe }}
    </main>

    {% include "components/footer.njk" %}
  </body>
</html>
