---
layout: layouts/base.njk
section: contact
---

<section class="days" id="access">
  <div class="container">
    <h1>Sign Up to a Day</h1>
    <div class="text">
      <div class="times">
        <div class="day">
          <h2>July 31st</h2>
          <h4>Open to Creative Professionals</h4>
          <a
            href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=MjczM3Y1aG9ncjZ1cmZiODg3YWYyNDVuNXIgY19lMGY4MWQyMTZlZGNkMDcyY2Y5M2FjMmY0MmE0ZmQ3ODMzOWFmMTY3YmU1Njg0OTlmMmM4MGQ2MjQwNTY3NmM2QGc&tmsrc=c_e0f81d216edcd072cf93ac2f42a4fd78339af167be568499f2c80d62405676c6%40group.calendar.google.com"
            target="_blank"
            ><button>Sign Up</button></a
          >
        </div>
        <div class="day">
          <h2>August 1st</h2>
          <h4>Open to Marketing and Advertising Professionals</h4>
          <a
            href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=N3VkNXBqaGc4MTE3M3FoanNobmVzM212YWYgY19lMGY4MWQyMTZlZGNkMDcyY2Y5M2FjMmY0MmE0ZmQ3ODMzOWFmMTY3YmU1Njg0OTlmMmM4MGQ2MjQwNTY3NmM2QGc&tmsrc=c_e0f81d216edcd072cf93ac2f42a4fd78339af167be568499f2c80d62405676c6%40group.calendar.google.com"
            target="_blank"
            ><button>Sign Up</button></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
