---
layout: layouts/base.njk
section: contact
---

<section>
  <div class="container">
    <div class="text">
      {{ layoutContent | safe }}

      {% include "components/form.njk" %}
    </div>
  </div>
</section>
