<!DOCTYPE html>
<html {% if section %} data-current="{{ section }}" {% endif %} lang="en">
  {% include "components/head.njk" %}

  <body>
    {% include "components/header.njk" %}

    <main>
      <h1>{{ title }}</h1>
      <ul>
        {% for event in events %}
        <li>
          <strong>{{ event.title | markdown | safe }}</strong
          ><br />
          {% if event.location %}Location: {{ event.location | markdown | safe
          }}<br />{% endif %} {% if event.info %}
          {{ event.info | markdown | safe }}
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </main>

    {% include "components/footer.njk" %}
  </body>
</html>
