---
layout: layouts/base.njk
section: home
---

<section class="homepage">
  <div class="container">
    <img class="logo" src="/static/img/logo.png" alt="VPU Logo" />
    <h1 class="xl-text">
      A hands-on exploration of how brands, agencies, and creatives are
      leveraging virtual production to redefine their craft.
    </h1>
    <p>
      Join us in Brooklyn for a two-day Virtual Production Showcase featuring
      hands-on demos, enlightening panel talks, focused sessions, and exclusive
      networking happy hours as we celebrate innovation and collaboration in
      advertising.
    </p>
  </div>
</section>
<section class="days">
  <div class="container">
    <a href="/day1/index.html" class="day1">
      <h2 class="xxl-text">Day 1</h2>
      <h3 class="lg-text">Exclusively for Creative Professionals</h3>
      <h4>View Schedule</h4>
    </a>
    <a href="/day2/index.html" class="day2">
      <h2 class="xxl-text">Day 2</h2>
      <h3 class="lg-text">Exclusively for Marketing and Advertising Professionals</h3>
      <h4>View Schedule</h4>
    </a>
  </div>
</section>
