---
layout: layouts/base.njk
section: home
---

<section class="hero">
  <div class="text">
    <img class="logo" src="/static/img/logo.png" alt="VPU Logo" />
    <p>
      A hands-on exploration of how brands, agencies, and creatives are
      leveraging virtual production to elevate their work
    </p>
  </div>
  <div class="artwork">
    <img src="/static/img/blob1.svg" alt="Top Blob" class="top-blob" />
    <img src="/static/img/blob2.svg" alt="Bottom Blob" class="bottom-blob" />
    <img src="/static/img/crop-left.svg" alt="Top Crop" class="top-crop" />
    <img
      src="/static/img/crop-right.svg"
      alt="Bottom Crop"
      class="bottom-crop"
    />
  </div>
</section>
<section class="about">
  <div class="container">
    <div class="text">
      <p>
        Join us as we bring together our community of technologists, creatives
        and thought leaders for two days of focused sessions around the topic of
        VP for commercials, advertising and brand activations.
      </p>
      <img
        id="room"
        src="/static/img/background.jpg"
        alt="Virtual Production Room"
      />
      <h2>WHAT IS VIRTUAL PRODUCTION</h2>
      <p>
        Virtual production utilizes large LED screens to display real-time
        immersive digital backgrounds. This allows seamless integration of
        live-action and computer-generated elements for filmmakers to capture
        scenes in entirely new ways with a new level of control.
      </p>
    </div>
  </div>
</section>
<section class="days">
  <div class="container">
    <div class="text">
      <img src="/static/img/mark.png" alt="Mark Your Calendars" />
      <div class="times">
        <div class="day">
          <h2>July 31st</h2>
          <h4>Open to Creative Professionals</h4>
          <a
            href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=MjczM3Y1aG9ncjZ1cmZiODg3YWYyNDVuNXIgY19lMGY4MWQyMTZlZGNkMDcyY2Y5M2FjMmY0MmE0ZmQ3ODMzOWFmMTY3YmU1Njg0OTlmMmM4MGQ2MjQwNTY3NmM2QGc&tmsrc=c_e0f81d216edcd072cf93ac2f42a4fd78339af167be568499f2c80d62405676c6%40group.calendar.google.com"
            target="_blank"
            ><button class="alt">Add to cal</button></a
          >
        </div>
        <div class="day">
          <h2>August 1st</h2>
          <h4>Open to Marketing and Advertising Professionals</h4>
          <a
            href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=N3VkNXBqaGc4MTE3M3FoanNobmVzM212YWYgY19lMGY4MWQyMTZlZGNkMDcyY2Y5M2FjMmY0MmE0ZmQ3ODMzOWFmMTY3YmU1Njg0OTlmMmM4MGQ2MjQwNTY3NmM2QGc&tmsrc=c_e0f81d216edcd072cf93ac2f42a4fd78339af167be568499f2c80d62405676c6%40group.calendar.google.com"
            target="_blank"
            ><button class="alt">Add to cal</button></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<section class="locations">
  <div class="container">
    <h2>LOCATIONS</h2>
    <div class="location">
      <div class="text">
        <h3>The Garage Studio</h3>
      </div>
      <div
        class="image"
        style="background-image: url(/static/img/garage-studio.jpg)"
      ></div>
    </div>
    <div class="location">
      <div class="text">
        <h3>AbelCine Learning Point Theater</h3>
      </div>
      <div
        class="image"
        style="background-image: url(/static/img/abelcine.jpg)"
        ;
      ></div>
    </div>
    <div class="location">
      <div class="text">
        <h3>
          <strong
            >NYU Martin Scorsese Virtual Production Center (August 1st
            only)</strong
          >
        </h3>
      </div>
      <div
        class="image"
        style="background-image: url(/static/img/nyumsvpc.jpg)"
      ></div>
    </div>
  </div>
</section>
<section class="partners">
  <div class="container">
    <h2>SPECIAL THANKS TO OUR PARTNERS</h2>
    <h4>
      <a href="/partners/index.html"
        ><button class="alt">Learn More About our Partners</button></a
      >
    </h4>
    <h3>Lead Partners</h3>
    <div class="large-logos">
      <a href="https://www.the-garage.tv/" target="_blank"
        ><img src="/static/img/TheGarage-White-WordMark.png" alt="The Garage"
      /></a>
      <a href="https://www.abelcine.com/" target="_blank"
        ><img src="/static/img/AbelCine.png" alt="Abel Cine"
      /></a>
      <a href="https://www.luxmc.com/" target="_blank"
        ><img src="/static/img/Lux LogoWhite.png" alt="Lux Machina"
      /></a>
      <a href="https://nabshow.com/newyork2024/" target="_blank"
        ><img src="/static/img/nabshow.png" alt="NABSHOW"
      /></a>
      <a href="https://luxlightingllc.com/" target="_blank"
        ><img src="/static/img/luxlighting (over dark).png" alt="Lux Lighting"
      /></a>
      <a href="https://tisch.nyu.edu/virtual-production" target="_blank"
        ><img src="/static/img/NYU-MSVPC_LockupArt_WHITE.png" alt="NYU MSVP"
      /></a>
    </div>
    <h3>Secondary Partners</h3>
    <div class="small-logos">
      <a href="https://industrycity.com/" target="_blank"
        ><img src="/static/img/industry-city.png" alt="Industry City"
      /></a>
      <a href="https://www.assimilateinc.com/" target="_blank"
        ><img src="/static/img/Assimilate-logo-JPG.webp" alt="Assimilate"
      /></a>
      <a href="https://www.quasarscience.com/" target="_blank"
        ><img src="/static/img/quesar.png" alt="Quasar"
      /></a>
      <a href="https://creamsource.com/" target="_blank"
        ><img src="/static/img/creamsource.png" alt="Cream Source"
      /></a>
      <div></div>
      <a href="https://hologen.io/" target="_blank"
        ><img
          src="/static/img/HologenTransparentBGLogo_WhiteText.png"
          alt="Hologen io"
      /></a>
      <a href="https://www.realityvfx.com/" target="_blank"
        ><img src="/static/img/realityvfx.jpeg" alt="Reality VFX"
      /></a>
      <div></div>
    </div>
  </div>
</section>
<section class="socials">
  <div class="container">
    <a href="https://www.instagram.com/the_garage.tv" target="_blank"
      ><img src="/static/img/instagram.png" alt="Instagram" width="40"
    /></a>
    <a href="https://www.tiktok.com/@the_garage.tv" target="_blank"
      ><img src="/static/img/tiktok.png" alt="TikTok" width="40"
    /></a>
  </div>
</section>
