---
layout: layouts/base.njk
section: partners
permalink: /partners/index.html
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

{% set partnerlist = collections.partners %}
{% include "components/partnerlist.njk" %}