<!DOCTYPE html>
<html {% if section %} data-current="{{ section }}" {% endif %} lang="en">
  {% include "components/head.njk" %}

  <body>
    {% include "components/header.njk" %}

    <main>
      <h1>{{ title }}</h1>
      <ul>
        {% for partner in collections.partners %}
        <li>
          <strong>{{ partner.title | markdown | safe }}</strong>
          <br />
          {% if partner.location %} Location:
          {{ partner.data.location | markdown | safe }}
          <br />
          {% endif %} {% if partner.info %}
          {{ partner.info | markdown | safe }}
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </main>

    {% include "components/footer.njk" %}
  </body>
</html>
